$scouter-red: #ed8772;
$scouter-blue: #7fc4d7;
$scouter-blue-light: #9ad5e2;
$scouter-blue-fade: #8bbdc9;
$scouter-teal-fade: #79afaf;
$scouter-link: #aaa;
$scouter-orange-light: #f7b477;
$scouter-orange: #f4a658;
$scouter-orange-dark: #e0944f;
$scouter-green: #90bc64;
$scouter-green-light: #a0d071;
$scouter-green-superlight: #c7e0aa;

$max-panel-width: 1320px;

$light-font: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Open Sans", "Arial";